doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Behavioral Economics
      hr.accent
      div.text 
        p Economically behavioral economics suggests that customers are more likely to pay for flat rate plans than small payments. Although behavioral economics had for a long time been dismissed as the economicly irrational behavior of people, it is gaining importance in the field <sup> [1] </sup>. 
        p A related finding to micropayments is that consumers are willing to pay more for flat-rate plans than for metered ones. This was first discovered about hundred years ago in the pricing of local telephone calls, but was soon forgotten. It was then rediscovered in the 1970s through some experiments done by the Bell System<sup> [2] </sup>. 
        p The significance of this phenomenon is evidenced by the fact that AOL was forced to switch to flat rate pricing for Internet access in the fall of 1996, when AOL found that customers felt cheated by the hourly rate pricing. This finding is one of the few economic arguments against micropayments.
      h1 Barriers to Usage
      hr.accent
      div.text 
        p Behavioral economic theory and economic utility analysis argue that in an environment of low marginal costs (cost to produce an additional unit of a good or service), sellers have a strong incentive to increase the usage of their produce. Any kind of barrier to usage, such as an explicit payment, discourages usage<sup> [2] </sup>. 
        p Even small barriers, such as having to pay a small amount to access an individual page, acts as a deterrent to usage. Although the ability to “try” a product or purchase individual pages or songs on the fly may be cheaper for the user, it is an inconvenient user experience that requires one to pull out a credit card every time a payment needs to be made. 
        p Flat-race pricing or a subscription model provides a better incentive to increase usage. Studies show that switching from metered to flat-rate pricing increases usage by 50 to 200 percent. When AOL switched to the unlimited usage plans in the fall of 1996, the average time spent online per subscriber tripled over the next year. This finding suggests that the micropayment model may not be economically viable<sup> [3] </sup>.
      h1 Transaction Costs
      hr.accent
      div.text 
        p One of the biggest challenges for micropayments is to keep transaction costs low in relation to the actual transaction amounts. Micropayment companies have found it difficult to sufficiently reduce transaction costs for a pay-per-use model due to the large number of individual micro transactions per user<sup> [3] </sup>. 
        p For micropayments, PayPal charges 5 percent of the product cost, plus 5 cents, while PayPal’s standard price structure is 2.9 percent of the product cost plus 30 cents (for monthly sales volumes below $3000). This means that for a $20 transaction, a merchant only pays 88 cents to PayPal, but for two $10 transactions, the merchant pays a combined total of 110 cents<sup> [1] </sup>. 
        p This casts doubt on whether micropayments are economically efficient for merchants.
      h1 References
      hr.accent
      div.text
        ol.textList
          li Odlyzko, Andrew. "The Case Against Micropayments". <i> University of Minnesota. </i> Web. April 2012. <br/><a href = "http://www.dtc.umn.edu/~odlyzko/doc/case.against.micropayments.pdf">&#8249; http://www.dtc.umn.edu/~odlyzko/doc/case.against.micropayments.pdf &#8250;</a>
          li <a href = "http://pressbin.com/tools/paypal_micropayments/">&#8249; http://pressbin.com/tools/paypal_micropayments/ &#8250;</a>
          li Shirky, Clay. "The Case Against Micropayments". <i> OpenP2P. </i> Web. 12/19/2000. <br/><a href = "http://openp2p.com/pub/a/p2p/2000/12/19/micropayments.html">&#8249; http://openp2p.com/pub/a/p2p/2000/12/19/micropayments.html &#8250;</a>
    include footerFilesOthers.jade   
