doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Current State of Content Appreciation
      hr.accent
      div.text 
        p With social networking websites gaining popularity, content sharing has taken a different approach. We all know about Facebook and Google+, with their “Like” and “+1” buttons. Users use these buttons to express gratitude towards content that they want to compliment. 
        p Flattr builds on this idea and tries to answer this question : What if you want to beyond just  “virtual”  appreciation? As per Clay Shirly, in her article “The Case Against Micropayments”, behavorial studies have shown that users like simple and predictable price models. 
        p Many websites and services that use micropayments, thus try to include a donation button on their website. This however, contradicts the viewpoint offered by the study. The whole process with the complicated credit card transaction involved for a small sum discourages users from ever using this button and making a donation.
      h1 How Flattr works?
      hr.accent
      div.text 
        p Enter Flattr, which stands for “flat rate”. The concept is simple to understand. Whenever you’re viewing content online and decide that you want to go further than just appreciating the content virtually, that is, you decide it’s worth a donation but don’t want to use your credit card for just donating a couple dollars or a few cents, Flattr comes to the rescue. 
        p It provides a virtual wallet which you can refill with a flat rate of your choice (as low as $2.70), and then whenever you want to appreciate content, you can just distribute this refilled amount amongst various pieces of content. There are no additional costs involved except when you refill your Flattr account (which is a credit card transaction).  
        p There is no limit on how many times you click the Flattr button. At the end of the month, the total amount that you deposited is divided evenly amongst the number of things you’ve flattered. Solving yet another issue with micropayments, Flattr provides for anonymity and does not provide consumer’s information to the publisher and vice versa.
      h1 Launch and Feedback
      hr.accent
      div.text 
        p Flattr received 70,000 donations in its beta release in 2010. They had hit a million members by the end of 2012. They’ve also raised a successful seed A round of $2.08 million dollars, from Passion capital and Federico Prizio-Biroli. 
        p Flattr is able to benefit consumers by offering fast, secure, and a convenient method of contribution. Wired’s optimistic take on Flattr is that it may well be one of the grand solutions for content creaters across the web to continue publishing their content to the public for free. 
        p In recent months, Grooveshark has been one of the top customers for Flattr.
      h1 References
      hr.accent
      div.text 
        p <a href = "http://www.tml.tkk.fi/Opinnot/Tik-110.501/1999/papers/micropayments/#sect5"> Ex1 </a>
    include footerFilesOthers.jade   
