div.footer A CS181W Project by Shubham Goel, Aditya Dev Gupta and Aditya Ramakrishnan.
script(type='text/javascript', src='/libraries/jquery-1.10.2.min.js')
script(type='text/javascript', src='/javascripts/scrollNavigation.js')