doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p Text here..
    include footerFilesOthers.jade   
