doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#sponsors
      div#content 
        h1 Overview
        hr.accent
        div.text 
         p The concept of micropayments has only been in existence for about two decades and is relatively nascent. Micropayment systems have been through two major generations, each with its own focus and direction.
        h1 First Generation
        hr.accent
        div.text 
         p The first generation of micropayment systems started in 1994 and ended in the late 90’s. With the astonishing growth of the internet, people began to seek various means of earning money from content. 
         p Advertising is one such form of revenue. Content would be offered for free, with accompanying ads or links to sponsor sites. Other content providers have also experimented with subscriptions, where people would pay for access to content for some period of time. 
         p A third form of revenue comes in the form of donations solicited by the content provider. Due to the lack of security measures regarding the use of a credit card for online transactions, early R&D efforts were directed towards maintaining the security of personal informations for these online transactions.
         p <center> <img src = "/images/history1.png"> </center>
         p First generation micropayment systems were primarily token based. Tokens in a token-based micropayment system are like real money coins in the real world, and can be used for goods exchange in the digital realm, thus a transaction of tokens occurring in the digital realm is similar to transfer of coins. 
         p Moreover, the generation of tokens is highly secured as the generation of real money coins, so fraud and double-spending are prevented. These systems were designed to be able to maintain security, privacy and anonymity in transactions. Payword, MicroMint and Payfair are examples of these early micropayment systems.
         p <center> <img src = "/images/history2.png"> </center>
         p The first generation of micropayment systems failed for a number of reasons. They had unfriendly user interfaces and management. They were also inconvenient as users only had access to the software through computers that stored their tokens. 
         p Administering and validating tokens was expensive for the whole system. Each transaction had to go through a broker for the payment to be validated and authorized, and so took a lot of time. Furthermore, most micropayment systems were incompatible with other systems and were not widely accepted by vendors. 
         p Thus, the first generation of micropayment systems failed.
        h1 Second Generation
        hr.accent
        div.text
          p Following the failure of the first generation of micropayment systems, account-based systems began to develop in the late 90’s and early 2000’s. Account-based systems or user-based systems rely on trust of user identification along with account management. 
          p Each user is usually connected to an account profile containing their personal information along with bank and credit card information. Typically, and unlike credit card system, there is no simultaneous payment charging when a transaction proceeds, and users pay on a monthly invoice for instance. 
          p Unlike the token-based systems, identity validation and transactions were done online in account-based systems. Security is strengthened as consumers and companies have. The HTTPS protocol is used encrypt and decrypt all data. Account-based systems have tasted success. For example, NTT DoCoMo’s i-mode hitting 47.5 million subscribers in June, 2011. 
          p PayPal announced in 2011 that it was available in 25 currencies and its member base reached over 100 million active registered accounts. By learning from the mistakes of the first generation and through major technological improvements, companies like PayPal, Flattr and NTT DoCoMo’s i-mode have helped re-invent micropayment systems.
        h1 References
        hr.accent
        div.text
          p <a href = "http://bus237micropayments.wordpress.com"> http://bus237micropayments.wordpress.com </a>
          p <a href = "http://www.prestamos.com/prestamos/glossary/glosario/what_are_micropayments/"> http://www.prestamos.com/prestamos/glossary/glosario/what_are_micropayments/ </a>
          p <a href = "http://www.diem.fi/files/deliverables/D5.1.2_DIEM_Micropayment_Report.pdf"> http://www.diem.fi/files/deliverables/D5.1.2_DIEM_Micropayment_Report.pdf </a>

    include footerFilesOthers.jade   
