div.navbar.navbar-inverse.navbar-fixed-top
      ul.nav
        li
          a(href='/') Home
        li
          a(href='whatIsAMicropayment') What is a Micropayment?
        li
          a(href='history') History
        li
          a(href='/') Challenges
          ul
            li
              a(href='/challenges/technical') Technical
            li
              a(href='/challenges/social') Social
            li
              a(href='/challenges/economical') Economical
        li
          a(href='/') Business Models
          ul
            li
              a(href='/businessModels/payPerUse') Pay-per-use
            li
              a(href='/businessModels/postPaid') Postpaid
            li
              a(href='/businessModels/prePaid') Prepaid
        li
          a(href='/') Case studies
          ul
            li
              a(href='/caseStudies/flattr') Flattr
            li
              a(href='/caseStudies/paypal') PayPal
            li
              a(href='/caseStudies/venmo') Venmo
            li
              a(href='/caseStudies/zong') ZONG