doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Paypal is a popular web-based payment system that allows users to conduct card transactions and pay for virtually anything online. 
        p In May 2012, Paypal started offering a new micro-payment scheme for merchants dependent on many low-value transactions<sup> [1] </sup>. These merchants primarily consist game developers, media publishers, or anyone interested in selling digital content on a global scale.      
      h1 Different Fee Structure
      hr.accent
      div.text 
        p PayPal Micropayments offers sellers a different fee structure that is more advantageous for high-volume, low-margin, low-value items. Some sellers have increased their profit margin by as much as 20-30 percent upon switching<sup> [2] </sup>.
        p With PayPal Micropayments, the merchant pays 5 percent plus 5 cents per transaction (for U.S. accounts) versus 2.9 percent plus 30 cents per transaction at the usual PayPal rate<sup> [1] </sup>. 
        p If a sizable percentage of the merchant’s transactions fall under the $12.00 mark, there’s a good chance the merchant will find that PayPal Micropayments save him/her money.
      h1 Limitations
      hr.accent
      div.text 
        p One limitation is that any one PayPal account is either a standard or a micropayments account, that is, one cannot switch back between the nature of the transaction on a per-transaction basis<sup> [2] </sup>. 
        p To use PayPal Micropayments, therefore, one needs to either create a separate Paypal Micropayments account or convert the existing Paypal account into a micropayments account (irreversible).
      h1 References
      hr.accent
      div.text 
        ol.textList
          li PayPal Integration Center. "Micropayments". <i> Paypal Developer Central. </i> Web. May 2012. <br/><a href = "https://www.paypalobjects.com/IntegrationCenter/ic_micropayments.html">&#8249; https://www.paypalobjects.com/IntegrationCenter/ic_micropayments.html &#8250;</a>
          li Hsaio, Aron. "Increase Profits with PayPal Micropayments" <i> EBay About.com</i>. Web. June 2011.<br/><a href = "http://ebay.about.com/od/usefulebaysellingtools/a/_sbe_paypalmicro.htm">&#8249; http://ebay.about.com/od/usefulebaysellingtools/a/_sbe_paypalmicro.htm &#8250;</a>
    include footerFilesOthers.jade   
