doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Micropayment systems require users to pay a small amount in order to access websites or parts of websites (eg. articles in newspapers). Since the majority of the websites are free to access with internet access, requiring payments introduces some social issues. There are 3 main social challenges:
        ul.textList
          li <u>Barrier to access</u>: Requiring small fees for use of website services deters users
          li <u>Change of habits</u>: Fees may place economic stress on the lower socioeconomic strata of users and result in them changing their internet viewing habits
          li <u>Assessment of the cost </u>: Consumers have to continually decide if the content justifies the cost.
      h1 Barrier to Access
      hr.accent
      div.text 
        p Rita McGrath writes in the Harvard Business Review, <i> “Micropayments in their current form are an irritating interruption, not something a consumer participates in either gladly or grudgingly.” </i>
        p In her opinion, Micropayment systems have failed to achieve seamlessness, transparency, or inevitability, unlike successful payment platforms like Amazon and iTunes. Internet users are accustomed to consuming free content. 
        p Due to the abundance of free content on the internet, denying direct access to content and introducing small fees irritates users like Rita McGrath who are more inclined to close the window when prompted for a 99 cent fee and find other content that is possibly free instead<sup> [1] </sup>.
      h1 Change of Habits
      hr.accent
      div.text 
        p Lower socioeconomic classes may be impacted by having to pay to consume online content that used to be free. While micropayments are small amounts, they add up quickly and can put financial stress on families with financial issues. 
        p This could be especially problematic for developing countries where currencies and wages aren’t as strong as in the United States. These families would have to adjust their internet consumption patterns by avoiding websites that now charge them for content. According to a study<sup> [2] </sup>, users overwhelmingly prefer subscription pricing to per-use usage for information goods. 
        p This is attributed to the following three factors:
        ul.textList
          li Insurance: Consumers are protected from sudden large bills.
          li Overestimate of usage: Consumers typically overestimate how much they use a service.
          li Hassle factor: Disaggregation of goods introduces too many options and consumers worry about whether each small unit of consumption is worth the cost while it is easier to just pay for the whole service.
        p This data gives us an insight into how consumers may respond to micropayments.
      h1 Assessing the Cost
      hr.accent
      div.text 
        p The act of buying anything, no matter its cost, results in a phenomenon known as a mental transaction cost. This is defined as the energy required to decide whether something is worth buying or not, regardless of price<sup> [3] </sup>. 
        p Beneath a certain threshold, these mental transaction costs rise. It may be easier to value a newspaper at a dollar but more taxing to decide whether a particular article in it is worth a cent. Thus, widespread micropayments might exert too high of a mental transaction cost on users and deter them from consuming content.      
      h1 References
      hr.accent
      div.text 
        ol.textList
          li McGrath, Rita. "Why I hate Micropayments". <i> HBR Blog Network </i>. Web. 02/22/2010. <br/><a href = "http://blogs.hbr.org/2010/02/why-i-hate-micropayments/">&#8249; http://blogs.hbr.org/2010/02/why-i-hate-micropayments/ &#8250;</a>
          li Odlyzko, Andrew. "Fixed free versus unit pricing for information goods: competition, equilibria, and price wars". <i> AT&T Labs - Research </i> Web. 06/12/1997. <br/><a href = "http://www.dtc.umn.edu/~odlyzko/doc/price.war.pdf">&#8249; http://www.dtc.umn.edu/~odlyzko/doc/price.war.pdf &#8250;</a>
          li Shirky, Clay. "Fame vs Fortune: Micropayments and Free Content" <i> Networks, Economics and Culture </i> Web. 09/05/2003. <br/><a href = "http://www.shirky.com/writings/fame_vs_fortune.html" >&#8249; http://www.shirky.com/writings/fame_vs_fortune.html &#8250;</a>
    include footerFilesOthers.jade   
