doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 Solving the Social Problem
      hr.accent
      div.text 
        p Venmo, a social payments startup, attacks a totally different realm of payments and brings a new way to think about micropayments in specific contexts. When out for after-work cocktails with co-workers and your friend decides to pay because you’re out of cash, how how often do you pay him or her back? In theory, is easy to solve with a check or a trip to the ATM, but the reality is much different. 
        p All too often, we forget to repay those generous friends simply because it’s too complicated.
        p Venmo was built with these scenarios in mind. The product makes the electronic exchange of money between friends both convenient and enjoyable. The process is extremely simple. On Venmo, you connect your bank account/credit card, and thereafter can repay a friend via the web, phone, SMS.  The repayment process if as simple as entering the amount and within a single click, you can pay the friend in question.
        p The focus area in which Venmo really makes a difference is that it adds a layer of social graph on top of payments, which is able to really capture the value of human relationships.
        p Venmo had 10 million users already by the time it came out of beta in 2012, and immediately after, was acquired by Braintree for $26.2 million (which was consequently acquired by Paypal for $800 million).
      h1 References
      hr.accent
      div.text 
        p <a href = "http://www.tml.tkk.fi/Opinnot/Tik-110.501/1999/papers/micropayments/#sect5"> Ex1 </a>
    include footerFilesOthers.jade   
