doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#content 
      h1 What is a micropayment?
      hr.accent
      div.text 
       p A micropayment is an e-commerce transaction involving a very small sum of money in exchange for something made available online, such as an application download, a service or Web-based content<sup> [1] </sup>. 
       p Different companies define their own maximum allowable amount for a micropayment. For example, PayPal defines a micropayment as any payment less than $12<sup> [2] </sup> while Visa defines it as any payment less than $20<sup> [3] </sup>. 
       p PayPal charges special rates of $0.05 and 5% for handling micropayments while its rates are $0.30 and 2.9% for normal payments<sup> [2] </sup>. 
       p Micropayments are becoming increasingly popular for payments in the e-commerce sector because they can be used in situations where collecting such small amounts of money with the usual payment systems is impractical, or very expensive, in terms of the amount of money being collected<sup> [4] </sup>.
     
      h1 References
      hr.accent
      div.text
        ol.textList
          li Rouse, Margaret. "Definition : Micropayments". <i> Web Services, SOA Glossary. </i> Web. June 2009. <br/><a href = "http://whatis.techtarget.com/definition/micropayment">&#8249; http://whatis.techtarget.com/definition/micropayment &#8250;</a>
          li PayPal Integration Center. "Micropayments". <i> Paypal Developer Central. </i> Web. May 2012. <br/><a href = "https://www.paypalobjects.com/IntegrationCenter/ic_micropayments.html">&#8249; https://www.paypalobjects.com/IntegrationCenter/ic_micropayments.html &#8250;</a>
          li The, Bryan. "Micropayment Systems". <i> Wordpress </i>. Web. November 2012. <br/><a href = "http://bus237micropayments.wordpress.com">&#8249; http://bus237micropayments.wordpress.com &#8250;</a>
          li Prestamos. "What are Micropayments?". <i> Prestamos </i>. Web. June 2010. <br/><a href = "http://www.prestamos.com/prestamos/glossary/glosario/what_are_micropayments/">&#8249; http://www.prestamos.com/prestamos/glossary/glosario/what_are_micropayments/ &#8250;</a>
          li Tulppo, Tero. "DIEM Micropayment Report". <i> HealthEx </i> Web. 22/09/2011.<br/><a href = "http://www.diem.fi/files/deliverables/D5.1.2_DIEM_Micropayment_Report.pdf">&#8249; http://www.diem.fi/files/deliverables/D5.1.2_DIEM_Micropayment_Report.pdf &#8250;</a>
    include footerFilesOthers.jade   
