doctype 5
html

  head
    title Micropayments and the Web :: Zong
    include headerFiles.jade

  body
    include navBarMain.jade
    div#home.slide.fullscreen 
      div.banner Micropayments and the Web
        hr.line-banner
        div.slide-banner-motto A viable Business Model?

    include footerFiles.jade
