doctype 5
html

  head
    title Micropayments and the Web
    include headerFilesOthers.jade

  body
    include navBarOthers.jade
    div#sponsors
      div#content 
        h1 Overview
        hr.accent
        div.text 
          p ZONG, launched in 2010, was a mobile micropayment system which allows customers the option to pay for online goods and services using just their mobile numbers (direct billing to phone). The cost is thus attached to the monthly phone bill. Popular merchants that incorporated this micropayment system include Facebook, Aeria Games, IMVU and Playdom. 
          p ZONG promised data security with its complex antifraud and monitoring systems. Furthermore, ZONG joined forces with TRUSTe, Verisign, and McAfee to ensure transactions are encrypted, verified, and processed securely. Thus, solving the data security problem helped them gain traction amongst larger merchants.
        h1 Easy to Use
        hr.accent
        div.text 
          p ZONG was incredibly simple to use. The steps are comprehensively illustrated by this infographic :
          p <center> <img src = "/images/zong1.png">  
        h1 Acquisition
        hr.accent
        div.text 
          p Considering it’s growth and popularity, ZONG was acquired by eBay in 2011 for $240 million in cash. 
          p Zong provided for a seamless payments product that could help improve conversions for online merchants and digital goods (PayPal processed $3.4 billion in transactions for digital goods in 2010), and in the end, frictionless online payments is PayPal’s bread and butter. 
          p In fact, according to Leena Rao, “PayPal just upped estimates of the amount of mobile payments transactions using the technology this year; doubling the estimate to $3 billion in mobile total payments volume (TPV) in 2011”.
        h1 References
        hr.accent
        div.text 
          p <a href = "http://www.tml.tkk.fi/Opinnot/Tik-110.501/1999/papers/micropayments/#sect5"> Ex1 </a>
      include footerFilesOthers.jade   
